@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200;400;500&display=swap');

/* Reset some default styles */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

* {
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

/* Add some styles for body*/
body {
    min-height: 100vh;
    max-width: 1280px;
    margin: 0 auto;
    background: #111729;
    color: #cbd5e1;
    line-height: 1.5;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.backSvg{
    width: 650px;
    height: 520px;
    z-index: 1;
    position: absolute;
    right: 3.5%;
    top: 10%;
}

.container{
    z-index: 9999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 100px;
}

.imageLogo{
    width: 250px;
    cursor: pointer;
}

.inputCont{
    width: 570px;
    margin-top: 30px;
    height: 60px;
    background-color: #030617;
    color: #364153;
    border: 2px solid #3662E3;
    padding-left: 30px;
    border-radius: 15px;
}

.container button{
    background-color: #3662E3;
    color: #cbd5e1;
    position: absolute;
    right: 7px;
    bottom: 6.5px;
    border: none;
    padding: 15px 30px;
    border-radius: 5px;
    cursor: pointer;
}

.logoQr{
    width: 200px;
    position: absolute;
    left: 5%;
    top: 10%;
    cursor: pointer;
}

.qrContainer{
    padding: 20px;
    background-color: #ffffff;
    border-radius: 25px;
    position: absolute;
    top: 30px;
    left: 30px;
}

.btnCopy{
    color: #ffffff;
    background-color: #3662E3;
    padding: 12px 30px;
    border: none;
    border-radius: 10px;
    display: flex;
    gap: 10px;
    cursor: pointer;
}

.btnCopy svg {
    position: relative;
    top: 2.5px;
    rotate: -45deg;
}

.btnDownload{
    color: #ffffff;
    background-color: #3662E3;
    padding: 12px 30px;
    border: none;
    border-radius: 10px;
    display: flex;
    gap: 10px;
    cursor: pointer;
}

.btnDownload svg{
    position: relative;
    top: 1.6px;
}

.circle{
    background-color: #1E2C51;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    position: relative;
    right: 40px;
}

.buttonsCont{
    z-index: 99999;
    position: relative;
    top: 4rem;
    right: 2.5rem;
    display: flex;
    gap: 30px;
}

@media screen and (max-width: 640px) {
    body{
        width:100%;
        height: 100%;
        margin: 0 auto;
        background: #111729;
        color: #cbd5e1;
        line-height: 1.5;
        overflow-x: hidden;
        overflow-y: hidden;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .backSvg {
        width: 650px;
        height: 520px;
        z-index: 1;
        position: absolute;
        left: 5%;
        top: 10%;
    }
    .inputCont {
        width: 300px;
        margin-top: 30px;
        height: 50px;
        background-color: #030617;
        color: #364153;
        border: 2px solid #3662E3;
        padding-left: 30px;
        border-radius: 15px;
    }
    .container button {
        background-color: #3662E3;
        color: #cbd5e1;
        position: absolute;
        right: 7px;
        bottom: 6.5px;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
    }
}